<header>
    <div class="menu-topo">

        <a href="/home">
            <img class="logo-topo" src="/assets/images/logo-img/logo.svg" alt="Logo Game Mania">
        </a>

            <div class="nav-menu">
                <a class="menu-navegacao" href="http://127.0.0.1:5501/index.html#categorias">CATEGORIAS</a>
                <a class="menu-navegacao" href="http://127.0.0.1:5501/index.html#lancamentos">LANÇAMENTOS</a>
                <a class="menu-navegacao" href="http://127.0.0.1:5501/index.html#destaques">DESTAQUES</a>
            </div>

        <div class="hamburguer">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>

<div class="body">
    <section class="main">     
                <div class="login">
                    <div class="card-login">
                        <h1>Login</h1>
                        <div class="textfield">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" placeholder="Digite seu nome...">
                        </div>
                        <div class="textfield">
                            <label for="senha">Senha</label>
                            <input type="password" name="Senha" placeholder="Digite sua senha...">
                        </div>

                        <form action="index.html" method="get">
                            <button class="btn-entrar">Entrar</button>
                        </form>

                    </div>
                </div>
    </section>
</div>
